body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.top-section {
    display: flex;
}

.half-width {
    width: 50%;
}

h1 {
    font-size: 50px;
}

.top-left-details {
    margin: 120px 40px 20px 110px;
}

.top-left-details h1 {
    color: gray;
    font-weight: 700;
}

.top-left-details p {
    margin-bottom: 50px;
    color: gray;
    width: 85%;
}

.top-left-details a {
    background: linear-gradient(orange, orangered);
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 30px;

}


.top-right-img img {
    width: 600px;
    height: 600px;
    margin-top: 40px;
    padding-right: 80px;
}


.orange-color {
    color: orange;
}