body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.half-width {
    width: 50%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.flexible {
    display: flex;
}

.top-section {
    margin-bottom: 80px;
}

.top-left-details {
    margin: 120px 40px 20px 110px;
}

.top-left-details h1 {
    color: gray;
    font-weight: 700;
}

.top-left-details p {
    margin-bottom: 50px;
    color: gray;
    width: 85%;
}

.top-left-details a {
    background: linear-gradient(orange, orangered);
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 30px;

}


.top-right-img img {
    width: 600px;
    height: 600px;
    margin-top: 40px;
    padding-right: 80px;
}

.middle-section {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.middle-left-img img {
    width: 250px;
    height: 400px;
    padding-top: 50px;
    padding-left: 230px;
}

.middle-right-details {
    padding-top: 90px;
}

.middle-right-details h2 {
    color: rgb(85, 84, 84);
    font-weight: 700;
}

.middle-right-details p {
    margin-bottom: 80px;
    color: gray;
    width: 85%;
}

.middle-right-details a {
    background: linear-gradient(orange, orangered);
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 30px;
}

.bottom-top {
    text-align: center;
}

.bottom-top p {
    width: 600px;
    padding-left: 350px;
}

.one-by-three-width {
    width: 33%;
}

.one-by-three-width img {
    width: 70%;
    height: 200px;
}

.recipie-details {
    padding: 20px;
}

.orange-color {
    color: orange;
}